body{
    background:white;
    margin: 0;
    overflow-x: hidden;
}

.banner-image{
    background-image: url('../img/dog-background.jpg');
    background-size: cover;
}

.bg-about{
    background-color:rgb(190,236,230);
    background-image: linear-gradient(to bottom right,rgb(190,236,230),rgb(1,48,31));
}

.bg-find{
    background-image: linear-gradient(to bottom right,rgb(190,236,230),rgb(1,48,31));
}

.bg-custom{
    background:rgb(246,180,6);
}

.bg-breeds{
    background-color: darkgray;
}

.paws{
    background-image: url('../img/background.jpg');
    /* Set a specific height */
    min-height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.circle{
    background-image: url('../img/circle.png');
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.custom{
   border: solid 3px rgb(233,162,0);
   border-radius: 5px 20px 5px;
}

.logo{
    width: 200px;
    height: auto;
}

.testimony-text{
    font-style: bold;
}

.testimony-image{
    width: 110px;
    height: 100px;
    border-radius: 50%;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: white;
  }
  
  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

.dog-adoption-pic{
    width: 250px; 
    height:auto;
}
.dog-adoption-pic-modal{
    width: 250px; 
    height:auto;
}

.mapouter{
    position:relative;text-align:right;height:500px;width:600px;
}

.gmap_canvas {
    overflow:hidden;background:none!important;height:500px;width:600px;
}

@media screen and (min-width: 800px) and (max-width: 1280px) {
    
  }
@media screen and (min-width: 481px) and (max-width: 800px) {
    .dog-adoption-pic{
        width: 100px; 
        height:auto;
    }
    .banner-image{
        background-size: cover;
    }
  }
@media screen and (max-width: 480px) {
    .dog-adoption-pic{
        width: 100px; 
        height:auto;
    }
    .banner-image{
        background-size: cover;
    }
    .mapouter{
        position:relative;text-align:right;height:300px;width: 300px;;
    }
    .gmap_canvas {
        overflow:hidden;background:none!important;height:300px;width:350px;
    }
    .banner{
        text-align: center;
    }
  }


